/******************** RESET ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******************** VARIABLES COULEURS ********************/
:root {
    --primary: #ef3391;
    --secondary: #ffd600;
    --text: #414042;
    --bglight: #f8fafc;
    --bgdark: #020618;
}


/******************** BODY ********************/
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}


/******************** PAGE BACKGROUND ********************/
.page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-image: linear-gradient(45deg, rgba(191, 117, 135, 0.639) 0%, rgba(214, 255, 255, 0.631) 100%), url('img/hand_coding_bw.jpg'); */
    /* background-position: 0% 0%, center bottom;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed;
    background-size: cover, cover; */
    background-color: rgb(255, 255, 255);
}


/******************** BTN CTA ********************/
.cta,
.contact__submit {
    display: inline-block;
    background-color: var(--primary);
    color: var(--bglight);
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.cta:hover,
.contact__submit:hover {
    transform: translateY(-5px);
    background-color: var(--secondary);
    color: var(--text);
}


/******************** SECTION TITLES ********************/

.hero__title,
.services__title,
.portfolio__title,
.contact__title  {
    color: var(--primary);
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: 700;
    margin-bottom: 1rem;
}


/******************** PAGE WRAPPER ********************/
.page-wrapper {
    max-width: 90%;
    margin: 3.5rem auto;
    background-color:rgba(27, 26, 26, 0.94);
    box-shadow: 0rem 3rem 3.125rem 0 rgba(44,42,54,0.451);
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    z-index: 2;
}


/******************** HEADER ********************/
.header {
    padding: clamp(1.5rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--bglight);
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-decoration: none;
    font-weight: bold;
}

.logo:hover {
    color: var(--secondary);
}

.nav__list {
display: none;
  flex-direction: column;
  list-style: none;
}

.nav__link {
    color: var(--bglight);
    text-decoration: none;
    position:relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.nav__link::after {
    content: "";
    background-color: var(--secondary);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}


/******************** TOGGLE ********************/
/* caché en mode desktop */
.nav__toggle {
  display: block;
}


/******************** HERO ********************/
.hero {
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);}

.hero__container {
    max-width: 1200px;
    margin: 0 auto;

}

.hero__intro {
    color: var(--bglight);
    font-size: clamp(0.8rem, 2vw, 1.1rem);
}

/******************** SERVICES ********************/
.services {
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
}


.services__container {
    max-width: 1200px;
    margin: 0 auto;
}


.services__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.service-card {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    background: var(--bglight);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s, box-shadow 0.4s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card__title {
    color: var(--primary);
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}

.service-card__title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--secondary);
    transition: width 0.3s;
}

/* draws a line under the title of the hovered card */
.service-card:hover
.service-card__title::after {
    width: 100%;
}

.service-card__detail {
    color: var(--text);
    line-height: 1.5;
}

/******************** PORTFOLIO ********************/

.portfolio {
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
}

.portfolio__container {
    max-width: 1200px;
    margin: 0 auto;
}


.portfolio-item {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    flex-basis: 17rem;
    background: var(--bglight);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(255, 0, 191, 0.656);
}

.portfolio-item h3 {
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.portfolio-item p {
    color: var(--text);
    font-size: 0.9rem;
}

.item__placeholder {
    text-align: center;
    padding: 1rem;
}

.placeholder__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    opacity: 0.8;
}


/* INFINITE SCROLL CAROUSEL */
.scroller-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.scroller {
    max-width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
}

.scroller__inner {
    width: max-content;
    display: flex;
    gap: 1rem;
    animation: scroll 15s linear infinite;
    will-change: transform;
}

.scroller[data-direction="right"] .scroller__inner {
    animation-direction: reverse;
}

.scroller[data-speed="slow"] .scroller__inner {
    animation-duration: 30s;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-50% - 1rem)); }
}


/******************** CONTACT ********************/
.contact {
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
}

.contact__container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact__form {
    display: grid;
    gap: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--bglight);
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 0 1px var(--secondary);
}

.contact__submit {
    width: 100%;
    margin: 0 auto;
    border: none;
}


/******************** FOOTER ********************/

.footer {
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);  
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.footer__title {
    color: var(--primary);
    font-size: clamp(0.5rem, 0.8rem, 1.2rem);
    margin-bottom: 1rem;
    position: relative;
}

.footer__list {
    list-style: none;
}

.footer__list li {
    margin-bottom:0.8rem;
}

.footer__link {
    color: var(--bglight);
    text-decoration: none;
    font-size: clamp(0.5rem, 0.8rem, 1.2rem);
    position:relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.footer__link::after {
    content: "";
    background: var(--secondary);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.footer__link:hover::after {
    width: 100%;
}

.footer__social {
    display: inline-block;
    margin-right: 1rem;
}

.footer__icon {
    width: 24px;
    height: 24px;
    fill: var(--bglight);
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.footer__icon:hover {
    fill: var(--secondary);
    transform: translateY(-5px);
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__input {
    width: 100%;
    height: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    transition: border-color 0.3s;
}

.footer__input:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 0 1px var(--secondary);
}

.footer__submit {
    display: inline-block;
    background-color: var(--primary);
    color: var(--bglight);
    margin: 0 auto;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.footer__submit:hover {
    transform: translateY(-5px);
    background-color: var(--secondary);
    color: var(--text);
}

.footer__credits {
    color: var(--bglight);
    text-align: center;
    padding-top: 2rem;
    font-size: clamp(0.8rem, 1.8vw, 1rem);
}

.heart-icon {
    color: var(--bglight);
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 0.2rem;
    vertical-align: middle;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .heart-icon:hover {
    color: var(--secondary);
    transform: scale(1.3);
    animation: pulse 0.5s ease-in-out;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

.footer__highlight {
    font-weight: 500;
    font-style: italic;
}


/******************** RESPONSIVE ********************/

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: clamp(1.5rem, 4vw, 3rem);
  }

  .nav__toggle {
    display: none;
  }

  .page-wrapper {
    max-width: 80%;
  }

  .services__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .scroller__inner {
    gap: 2rem;
    animation-duration: 30s;
  }

  .portfolio-item {
    flex-basis: 21rem;
  }

  .contact__submit {
    width: 200px;
  }

  .footer__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
}
